html {
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header-bar {
    display: flex;
    width: 100vw;
    height: 5vh;
    box-shadow: 0px 2px 10px grey;
    color : white;
    text-shadow: 2px 5px 10px grey;
    font-size : 30px;
    align-items: center;
}

.header-bar__notion-kind{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lilita One', sans-serif;
}

.header-bar__notion-content{
    font-weight: 100;
    opacity: 0.8;
    font-size:20px
}


.icon { 
    display: flex;
    justify-content: start;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 1px;
}
.title {
    margin-left: 20px;
    margin-top : 20px;
    color : white;
    text-shadow: 2px 5px 10px grey;
    font-size : 30px;
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
}
.plan-container{
    background-color: white;
    margin-top :20px;
    width: 95vw;
    height: 100vh;
    border: 0.5px grey solid;
    border-radius: 20px;
}

.plan__date{
    color: black;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
}